@import './variable.scss';

.special-text {
  color: $special-text-color;
}

.theme-bg {
  background: $theme-color;
}

.blue-btn {
  background: $special-text-color !important;
  color: #FFF !important;
}

.white-btn {
  background: #FFF !important;
  color: $special-text-color !important;
}

.top-section {
  margin-bottom: 2rem;
}

.dashboard-link {
  color: gray;

  &:hover {
    color: gray;
  }
}

.active {
  padding-bottom: 2px;
  border-bottom: 2px solid gray;
}


// Woo styles .. form woo-next  https://github.com/imranhsayed/woo-next/blob/master/src/styles/style.scss

.slider-button {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #fff;
  padding: 10px 20px;
  font-size: 24px;
}

.products .product-description {
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.categories,
.cart,
.checkout {
  min-height: 400px;
}

.cart-products,
.checkout-cart {
  th,
  td {
    padding: 10px 0;
  }
  tr {
    border-bottom: 1px solid #ccc;
  }
}

.woo-next-cart-total-container {
  max-height: 200px;
  height: 100%;
}

.main-title {
  position: relative;
  text-align: center;
  &:before {
    content: "";
    position: absolute;
    bottom: 50%;
    left: 0;
    height: 2px;
    width: 50%;
    background: #222;
    z-index: -1;
  }
  &:after {
    content: "";
    position: absolute;
    bottom: 50%;
    right: 0;
    height: 2px;
    width: 50%;
    background: #222;
    z-index: -1;
  }
}

.main-title-inner {
  background: #fff;
  padding: 0 20px;
}

.woo-next-cart-qty {
  input {
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 4px;
  }
}